.addUser{
    background-color: rgb(255, 254, 255);
    width: 75%;
    margin: 50px auto;
    padding: 40px;
    border-radius:5px;
    box-shadow: 1px 1px 8px rgb(0, 0, 0,0.065);
}
.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.addUserForm .inputGroup label{
    margin-bottom: 5px;
  
    font-weight: 600;
}
.addUserForm .inputGroup input{
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

.addUserForm .inputGroup button{
    margin-top: 9px;
    
  
}

.addUser h3{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;  
    color: darkcyan;
    text-transform: uppercase;
     box-shadow: 1px 1px 2px rgb(0, 0, 0,0.07);

    
}




.userTable{
    width: 75%;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius:10px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(0, 0, 0,0.065)
}
.userTable table{
    width: 100%;
    margin-top: 30px;

}
.userTable table thead th{
    background-color: darkblue;
    color: white;

}
.userTable table tbody td{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.actionButtons button{
    margin: 0 5px;
}



